		{{MethodName}}Req(request:{{ReqType}}, onSuccess?:(reply:{{ReplyType}})=>void, onError?:(reply:ErrorReply)=>void):void;
		{{MethodName}}({{Params}}onSuccess?:(reply:{{ReplyType}})=>void, onError?:(reply:ErrorReply)=>void):void;
