declare namespace sv
{
    export interface ErrorReply
    {
        errorCode:number;
        errorMessage:string;
        errorDetails:string;
    }
   
{{Types}}

	type ServerMessageTypeHandler = (from:string, msg:Object)=>void;
	
    export class Serverville
	{
        ServerURL:string;
		SessionId:string;
        LogMessagesToConsole:boolean;
		GlobalErrorHandler:(ev:ErrorReply)=>void;
        ServerMessageTypeHandlers:{[id:string]:ServerMessageTypeHandler};
		ServerMessageHandler:(messageType:string, from:string, msg:Object)=>void;
		
        constructor(url:string);
        init(onComplete:(user:SignInReply, err:ErrorReply)=>void):void;
        loadUserKeyData(onDone?:()=>void):KeyData;
		loadKeyData(id:string, onDone?:()=>void):KeyData;
		isSignedIn():boolean;
        signOut():void;
		userInfo():SignInReply;
		
		apiByName(api:string, request:Object, onSuccess:(reply:Object)=>void, onError?:(reply:ErrorReply)=>void):void;
{{APIs}}

    }
    
    export class KeyData
	{
        id:string;
		server:Serverville;
		data:any;
        
		constructor(server:Serverville, id:string);
		loadAll(onDone?:()=>void):void;
		refresh(onDone?:()=>void):void;
        set(key:string, val:any):void;
		set(key:string, val:any, data_type:string):void;
		save(onDone?:()=>void):void;
	}
}